
@media screen and (min-width: 1201px) and (max-width : 1250px) {

* {
  box-sizing: border-box;
}
html body {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
    outline: none;
}
.search {
  display: block;
  position: absolute;
  right: 20px;
  font-size: 1em;
  top: 15px;
}
.logo {
  display: block;
  position: absolute;
  left: 170px;
  top: 15px;
}
.usda-head {
  display: block;
  position: absolute;
  left: 240px;
  font-size: 1em;
  color: #706B6B;
  font-family: Arial, Helvetica, sans-serif;
  top: 16px;
}
.ascr-head {
  display: block;
  position: absolute;
  top: 40px;
  left: 240px;
  font-size: 1.2em;
  color: #205493;
  font-family: Arial, Helvetica, sans-serif;
}

.search a {
  text-decoration: none;
  color: #adadad;
}
#submenu, .mobilMenu {
  display: none;
}
nav {
  display: block;
  position: relative;
  width: 100%;
  top: 70px;
  background-color: #205493;
  z-index: 10;
}
nav ul {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}
nav ul li {
  display: inline-block;
  text-align: left;
  position: relative;
  background-color: #205493;
}
nav a {
  display: block;
  padding: 15px 7px 15px 7px;
  font-size: 16px;
  line-height: 250%;
  text-decoration: none;
  font-family: sans-serif "Avenir Light", "Avenir Light Oblique", "Avenir Medium", "Avenir Medium Oblique", "Avenir Next Condensed Bold";
  font-weight: strong 300;
  color: #FFFFFF;
  word-spacing: 3px;
}
nav a:hover {
  background-color: #046b99;
}
nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  white-space: normal;
}
nav li ul li {
  display: list-item;
}
nav li ul a {
  display: block;
  text-align: left;
  line-height: 200%;
  word-spacing: 3px;
  background-color: #205493;
  border-bottom: #046b99 solid;
}
nav ul li:hover > ul {
  display: inherit;
}
.box {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
.next {
  opacity: 0;
  position: absolute;
  top: 150px;
  transition: opacity 800ms;
  right: 5px;
  cursor: pointer;
}
.prev {
  opacity: 0;
  position: absolute;
  top: 15p0x;
  transition: opacity 800ms;
  left: 5px;
  cursor: pointer;
}
.box:hover .prev, .box:hover .next {
  opacity: 1.0;
  z-index: 11;
}
.image-slider {
  display: block;
  position: absolute;
  top: 70px;
  
}
.image-slider img {
  width: 100%;
  z-index: 1;
}
.slider-comments {
  display: block;
  position: relative;
  text-align: center;
  opacity: .60;
  top: 370px;
  width: 67%;
  margin: 0 auto;
  background-color: #e7f4e4;
  z-index: 21;
  color: #205493;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 11pt;
  font-weight: bolder;
}
#hovComments {
  display: none;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  opacity: 0.60;
  font-weight: bolder;
  background-color: #e4e2e0;
  padding: 5px;
  width: 20%;
  text-align: center;
  top: 100px;
}
.box:hover #hovComments {
  display: block;
  z-index: 12;
}
#imgBoundaries {
  overflow: hidden;
}
.mainBox {
  display: block;
  position: relative;
  top: 415px;
  width: 960px;
  height: 860px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: -5px 0 10px rgba(0, 0, 0, .5), .5px 0 10px rgba(0, 0, 0, .5);
  text-align: center;
  border-bottom: #205493 solid 5px;
  z-index: 20;
}
.aline {
  position: relative;
  margin: 0 auto;
  background-color: #205493;
  width: 100%;
  line-height: 15px;
  /*	z-index: 2000;
	box-shadow: -5px 0 10px rgba(0,0,0,.5), .5px 0 10px rgba(0,0,0,.5);*/
}
.phead {
  font-style: italic;
  color: #205493;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  font-size: 15pt;
  margin-left: 4px;
}
.phead a:visited {
  color: #205493;
}
.leftbox {
  position: relative;
  display: inline-block;
  width: 45%;
  float: left;
  margin-left: 30px;
  margin-top: 50px;
}
.leftbox img {
  width: 100%;
}
.leftbox li {
  list-style-type: none;
}
.leftbox li a {
  text-decoration: none;
}
.rightbox {
  position: relative;
  display: inline-block;
  width: 45%;
  text-align: left;
  float: right;
  margin-right: 30px;
  margin-top: 50px;
}
.rightbox img {
  width: 100%;
}
.rightbox li {
  list-style-type: none;
}
.rightbox li a {
  text-decoration: none;
}
.textbox {
  /*margin-top: 100px;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14pt;
  color: #205493;
  font-weight: 10;
  text-align: left;
  font-style: italic;
}
.service {
  position: relative;
  display: inline-block;
  width: 28%;
  float: left;
  margin-left: 35px;
  margin-top: 100px;
  text-align: left;
}
.events {
  position: relative;
  display: inline-block;
  width: 28%;
  float: left;
  margin-left: 42.5px;
  margin-top: 100px;
  text-align: left;
}
.complaints {
  position: relative;
  display: inline-block;
  width: 28%;
  float: right;
  margin-right: 35px;
  margin-top: 100px;
  text-align: left;
}


/* ------------ footer -------------- */
    
     .menu {
    top: 370px;
    left: 16px;
  }
  .menu ul {
    text-align: left;
  }
  .menu li {
    display: inline-block;
    position: relative;
    list-style-type: none;
  }
  .menu h4 {
    font-size: 17pt;
  }
  .footer {
    display: block;
    position: relative;
    width: 960px;
    top: 380px;
      text-align: center;
  }
    .footer ul {
       
    }
  .footer li {
    display: inline-block;
    position: relative;
    list-style-type: none;
    margin-top: 10px;
       left: -30px;
  }
  .footer a {
    font-size: 11pt;
    text-decoration: none;
    
  }
  .footer li a:hover {
    pointer: cursor;
  }
}